# use new docker environment
sudo: required

language: cpp

before_install:
  - docker pull polybassa/pmd:latest

script: 
        - cd utilities 
        - ./configureWithDocker.sh project
        - ./makeWithDocker.sh project test
        - ./makeWithDocker.sh project clean 
        - ./makeWithDocker.sh project firmware 
        - ./makeWithDocker.sh project clean 
        - ./makeWithDocker.sh project debug_firmware
        - ./makeWithDocker.sh project clean-all
        - ./configureWithDocker.sh project_tunnel
        - ./makeWithDocker.sh project_tunnel test
        - ./makeWithDocker.sh project_tunnel clean 
        - ./makeWithDocker.sh project_tunnel firmware 
        - ./makeWithDocker.sh project_tunnel clean-all
        - ./configureWithDocker.sh project_maco
        - ./makeWithDocker.sh project_maco test
        - ./makeWithDocker.sh project_maco clean 
        - ./makeWithDocker.sh project_maco firmware 
        - ./makeWithDocker.sh project_maco clean 
        - ./makeWithDocker.sh project_maco debug_firmware
        - ./makeWithDocker.sh project_maco clean-all
        - ./configureWithDocker.sh project_bluepill
        - ./makeWithDocker.sh project_bluepill test
        - ./makeWithDocker.sh project_bluepill clean 
        - ./makeWithDocker.sh project_bluepill firmware 
        - ./makeWithDocker.sh project_bluepill clean 
        - ./makeWithDocker.sh project_bluepill debug_firmware
        - ./makeWithDocker.sh project_bluepill clean-all
        - ./configureWithDocker.sh project_bluepill_horrorscope
        - ./makeWithDocker.sh project_bluepill_horrorscope test
        - ./makeWithDocker.sh project_bluepill_horrorscope clean 
        - ./makeWithDocker.sh project_bluepill_horrorscope firmware 
        - ./makeWithDocker.sh project_bluepill_horrorscope clean 
        - ./makeWithDocker.sh project_bluepill_horrorscope debug_firmware
        - ./makeWithDocker.sh project_bluepill_horrorscope clean-all
