# use new docker environment
sudo: required

language: cpp

before_install:
  - docker pull polybassa/pmd:latest

script: 
        - cd utilities 
        - ./configureWithDocker.sh
        - ./makeWithDocker.shWithDocker.sh test
        - ./makeWithDocker.sh clean 
        - ./makeWithDocker.sh firmware 
        - ./makeWithDocker.sh clean 
        - ./makeWithDocker.sh debug_firmware
        - ./makeWithDocker.sh clean-all
        - ./configureMacoWithDocker.sh
        - ./makeMacoWithDocker.sh test 
        - ./makeMacoWithDocker.sh clean 
        - ./makeMacoWithDocker.sh firmware 
        - ./makeMacoWithDocker.sh clean 
        - ./makeMacoWithDocker.sh debug_firmware
        - ./makeMacoWithDocker.sh clean-all

